[Unit]
Description=Huawei Mqtt Bridge
After=network.target
Wants=network.target

[Service]
User=pi
ExecStartPre=/bin/sleep 30
ExecStart=/usr/local/bin/python3.10 /home/pi/huawei_bridge_openwb/huaweimqtt.py
Restart=always
RuntimeMaxSec=590

[Install]
WantedBy=multi-user.target
